@media screen and (min-width: 20px) {
  .header {
    background-color: white;
    color: black;
  }

  /* .sideBarMain {
    border-bottom: 1px solid rgb(230, 226, 226);
    margin-top: -10px;
  } */

  .SubHeader1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -8px;
    margin-right: -8px;
    height: 50px;
  }

  .SubHeader2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .SubHeader2 div {
    margin-left: 10px;
  }

  .thirdHeader2 {
    display: none;
  }

  .logo {
    width: 100px;
    padding-left: 20px;
    cursor: pointer;
  }

  .hamburger {
    padding-right: 20px;
    font-size: 20px;
    /* IF YOU WANT THE SIDE BAR TO BE A TRANPERANT 
    OVER THE MAIN PAGE USE THE CODE BELOW */

    /* opacity: 0.8; */
  }

  .hamburger i {
    cursor: pointer;
  }
}
